<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('logged.panel.log_mailers.index.title'), { action: 'index' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
