<%= form_with theme: 'search', model: Com::Smtp.new do |f| %>
  <div class="field-body">
    <%= f.text_field :name %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:name]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
