<div class="ui top attached tabular menu">
  <%= link_to '错误日志', admin_log_records_path, class: active_helper(controller: 'log/admin/log_records') %>
  <%= link_to '邮件日志', admin_log_mailers_path, class: active_helper(controller: 'log/admin/log_mailers') %>
  <%= link_to 'CSP日志', admin_log_csps_path, class: active_helper(controller: 'log/admin/log_csps') %>
</div>
