<%= form_with theme: 'search', model: Logged::LogCsp.new do |f| %>
  <div class="field-body">
    <%= f.text_field :document_uri %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
