<td><%= model.address %></td>
<td><%= model.state %></td>
<td><time data-controller="time"><%= model.unsubscribe_at.to_formatted_s(:iso8601) %></time></td>
<td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>