
.ui.form .field.inline > label.field,
.ui.form .fields.inline > label.field {
  padding: 0.65em;
  text-align: right;
  font-size: 14px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 0;
}

.field.inline > .wide.field {
  display: inline-block;
}