<%= render 'filter_form' %>
<%= render 'filter_table' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    <% cache cache_key do %>
      <%= render 'index_thead' %>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
