<aside class="menu is-dark" style="height: 100%">
  <ul class="menu-list">
    <li><%= link_to t('panel.home.index.title'), { controller: '/panel/home' } %></li>
  </ul>
  <%= render 'email_nav' %>
</aside>
