<div class="ui borderless menu">
  <div class="ui container">

  <div class="item header">日志系统</div>
    <%= link_to '错误日志', admin_log_records_path, class: active_helper(controller: 'rails_log/log_records') %>
    <%= link_to '邮件日志', admin_log_mailers_path, class: active_helper(controller: 'rails_log/log_mailers') %>

    <div class="right menu">

    </div>
  </div>
</div>
