<%= search_form_for :q, html: { class: 'ui segment bottom attached form' } do |f| %>
  <div class="fields">
    <%= f.text_field :mailer,  placeholder: 'Mailer' %>
    <%= f.text_field :action, placeholder: 'Action' %>
    <%= f.submit '查询', class: 'ui green small button' %>
  </div>
<% end %>
