<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('com.admin.smtps.index.title'), { controller: 'smtps' } %></li>
    <li><%= @smtp.name %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
