<tr>
  <td class="has-text-right"><%= Com::SmtpAccount.human_attribute_name(:user_name) %></td>
  <td><%= @smtp_account.user_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::SmtpAccount.human_attribute_name(:password) %></td>
  <td><%= @smtp_account.password %></td>
</tr>
