<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <span data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'smtp_accounts', smtp_id: model.id }, aria: { label: t('com.admin.smtp_accounts.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fas fa-mail-bulk"></i>
      <% end %>
    </span>
  </td>
</tr>
