<td><%= model.name %></td>
<td><%= model.address %></td>
<td><%= model.port %></td>
<td>
  <div data-show-target="item" style="visibility: hidden">
    <%= link_to({ controller: 'smtp_accounts', smtp_id: model.id }, aria: { label: t('email.admin.smtp_accounts.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-regular fa-mail-bulk"></i>
    <% end %>
  </div>
</td>