<div class="hero is-large is-info">
  <div class="hero-head">
    <h2></h2>
  </div>
  <div class="hero-body">
    <h2 class="title has-text-centered">您已经取消订阅！</h2>
  </div>
  <div class="hero-buttons">
  </div>
</div>
