<div data-controller="menu-popup" class="dropdown pop-right p-3">
  <div class="dropdown-trigger">
    <%= svg_tag 'email' %>
    <strong class="ml-1"><%= t('email.panel.title') %></strong>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <div class="section" style="width: 50vw">
        <%= render 'email/panel/home/index_column' %>
      </div>
    </div>
  </div>
</div>
